@{
    //ViewData["Title"] = "Home Page";
}

<!-- start of hero -->
<section class="hero hero-static-image">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-sm-7">
                <div class="slide-title">
                    <h2>We Ensure Your Safe<span> & Happy Journey</span></h2>
                </div>
                <div class="slide-subtitle">
                    <p>We also offer cost-friendly repairs so you won’t need to spend a lot to get your vehicle back on the road.Repair services to his fellow . We know how valuable your time and money.</p>
                </div>
                <div class="btns">
                    <a href="vehicles-list.aspx" class="theme-btn-s2">View Vehicles</a>
                </div>
            </div>
            <div class="hero-image"></div>
        </div>
    </div>
</section>
<!-- end of hero slider -->
<!-- start about-section -->
<section class="about-section">
    <div class="content-area">
        <div class="left-content">
            <img src="~/images/about/about-pic.png" alt="about-us">
        </div>
        <div class="right-content">
            <div class="about-content">
                <div class="section-title">
                    <span>About Our Company</span>
                    <h2>How We Can Help you</h2>
                </div>
                <div class="details">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there.</p>
                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary anything embarrassing hidden in the.</p>
                    <a href="#" class="theme-btn-s2">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about-section -->
<!--service area start -->
<div class="service-style-1 section-padding">
    <div class="container">
        <div class="col-12">
            <div class="section-title-s2 text-center">
                <span>What We Do</span>
                <h2>Our Services</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="fi flaticon-turbo"></i>
                    </div>
                    <div class="service-text">
                        <h2>Engine Repair</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                    <div class="service-icon-2">
                        <i class="fi flaticon-tyre"></i>
                    </div>
                    <div class="service-text">
                        <h2>Tires Replacement</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                    <div class="service-icon-3">
                        <i class="fi flaticon-car-1"></i>
                    </div>
                    <div class="service-text">
                        <h2>Transmission</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                    <div class="service-icon-4">
                        <i class="fi flaticon-car-repair"></i>
                    </div>
                    <div class="service-text">
                        <h2>Diagnostic</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                    <div class="service-icon-5">
                        <i class="fi flaticon-battery"></i>
                    </div>
                    <div class="service-text">
                        <h2>Batteries</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                    <div class="service-icon-6">
                        <i class="fi flaticon-electricity"></i>
                    </div>
                    <div class="service-text">
                        <h2>Breaks</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service area end -->
<!-- start fun-fact-section -->
<section class="fun-fact-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-sm-12">
                <div class="fun-fact-content">
                    <h2>Here’s Our Achivement. Lets Check it Out</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. chunks as necessary suffered alteration.</p>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12">
                <div class="fun-fact-grids clearfix">
                    <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="300+">00</span>+</h3>
                        </div>
                        <p>Expert Technicians</p>
                    </div>
                    <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="1026">00</span></h3>
                        </div>
                        <p>Satisfied Client</p>
                    </div>
                    <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="25+">00</span>+</h3>
                        </div>
                        <p>Years Experience</p>
                    </div>
                    <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="3215">00</span></h3>
                        </div>
                        <p>Compleate Project</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end fun-fact-section -->
<!-- pricing-area -->
<div class="pricing-section">
    <div class="container">
        <div class="col-12">
            <div class="section-title-s2 text-center">
                <span>Best Pricing Plan</span>
                <h2>Services Packages</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tabs-site-button">
                    <div class="row pricing-tabs">
                        <div class="col-md-12 col-12">
                            <ul class="nav nav-tabs">
                                <li class="pricing-content-1"><a data-toggle="tab" href="#turbo"><i class="fi flaticon-turbo"></i></a></li>
                                <li class="pricing-content-2"><a data-toggle="tab" href="#tyre"><i class="fi flaticon-tyre"></i></a></li>
                                <li class="pricing-content-3"><a data-toggle="tab" href="#car-1"><i class="fi flaticon-car-1"></i></a></li>
                                <li class="pricing-content-4"><a data-toggle="tab" href="#repair"><i class="fi flaticon-car-repair"></i></a></li>
                                <li class="pricing-content-5"><a data-toggle="tab" href="#battery"><i class="fi flaticon-battery"></i></a></li>
                                <li class="pricing-content-6"><a data-toggle="tab" href="#electricity"><i class="fi flaticon-electricity"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="tab-content">
                                <div id="turbo" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img">
                                                        <div class="pricing-text">
                                                            <span><small>$</small>25</span>
                                                            <h4><a href="#">Engine Repair</a></h4>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                        <img src="~/images/pricing/img-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tyre" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-2">
                                                        <div class="pricing-text-1">
                                                            <span><small>$</small>35</span>
                                                            <h4><a href="#">Tires Replacement</a></h4>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                        <img src="~/images/pricing/img-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="car-1" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-3">
                                                        <div class="pricing-text-2">
                                                            <span><small>$</small>45</span>
                                                            <h4><a href="#">Transmission</a></h4>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                        <img src="~/images/pricing/img-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="repair" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-4">
                                                        <div class="pricing-text-3">
                                                            <span><small>$</small>65</span>
                                                            <h4><a href="#">Diagnostic</a></h4>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                        <img src="~/images/pricing/img-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="battery" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-5">
                                                        <div class="pricing-text-4">
                                                            <span><small>$</small>50</span>
                                                            <h4><a href="#">Batteries</a></h4>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                        <img src="~/images/pricing/img-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="electricity" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-6">
                                                        <div class="pricing-text-5">
                                                            <span><small>$</small>25</span>
                                                            <h4><a href="#">Breaks repair</a></h4>
                                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
                                                        </div>
                                                        <img src="~/images/pricing/img-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing-area end -->
<!-- .hx-team-area start -->
<div class="hx-team-area section-padding">
    <div class="container">
        <div class="col-12">
            <div class="section-title-s2 text-center">
                <span>Meet Our Expertise</span>
                <h2>Our Awesome Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-1.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>Riccardo Cavallo</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-2.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>Calvy Jenefar</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-3.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>Alexsandar Nick</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-4.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>David Simon</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .hx-team-area end -->
<!-- start blog-section -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s2 text-center">
                    <span>Our blog</span>
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-grids clearfix">
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/images/blog/img-1.jpg" alt>
                        </div>
                        <div class="details">
                            <h3><a href="#">Importent tips for your faviorate car.</a></h3>
                            <ul class="entry-meta">
                                <li>
                                    <img src="~/images/blog/author.jpg" alt>
                                    By <a href="#">Lily Anne</a>
                                </li>
                                <li>Octobor 12,2018</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/images/blog/img-2.jpg" alt>
                        </div>
                        <div class="details">
                            <h3><a href="#">Importent tips for your faviorate car.</a></h3>
                            <ul class="entry-meta">
                                <li>
                                    <img src="~/images/blog/author.jpg" alt>
                                    By <a href="#">Lily Anne</a>
                                </li>
                                <li>Octobor 12,2018</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/images/blog/img-3.jpg" alt>
                        </div>
                        <div class="details">
                            <h3><a href="#">Importent tips for your faviorate car.</a></h3>
                            <ul class="entry-meta">
                                <li>
                                    <img src="~/images/blog/author.jpg" alt>
                                    By <a href="#">Lily Anne</a>
                                </li>
                                <li>Octobor 12,2018</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-section -->
<!-- hx-client-area start -->
<div class="hx-client-area">
    <div class="container">
        <div class="hx-client-item">
            <div class="Gift-carousel owl-carousel">
                <img src="~/images/gift/3.png" alt="clinet">
                <img src="~/images/gift/2.png" alt="clinet">
                <img src="~/images/gift/3.png" alt="clinet">
                <img src="~/images/gift/4.png" alt="clinet">
                <img src="~/images/gift/5.png" alt="clinet">
            </div>
        </div>
    </div>
</div>
<!-- hx-client-area end -->
