@{
    //ViewData["Title"] = "Home Page";
}

<!-- start of hero -->
<section class="hero hero-static-image">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-sm-7">
                <div class="slide-title">
                    <h2>We Ensure Your Safe<span> & Happy Journey</span></h2>
                </div>
                <div class="slide-subtitle">
                    <p>GoGadiGo is a vehicle service provider  in Bihar. It provides a platform for vehicle owner and for the person who wants to book vehicle. Vehicle owners can register their vehicle free of cost on GoGadigo and travelers can book vehicle from GoGadiGo.</p>
                </div>
                <div class="btns">
                
                    <a asp-action="VehicleList" asp-controller="Vehicle" class="theme-btn-s2">View Vehicles</a>
                </div>
            </div>
            <div class="hero-image"></div>
        </div>
    </div>
</section>
<!-- end of hero slider -->
<!-- start about-section -->
<section class="about-section">
    <div class="content-area">
        <div class="left-content">
            <img src="~/images/about/about-pic.png" alt="about-us">
        </div>
        <div class="right-content">
            <div class="about-content">
                <div class="section-title">
                    <span>About Our Company</span>
                    <h2>How We Can Help you</h2>
                </div>
                <div class="details">
                    <p>We offer vehicle service in Bihar only . You can find any type of vehicle in your area with the help of GoGadiGo. you won’t need to spend a lot time to book a vehicle in Bihar, because we know how valuable your time and money is.</p>
                    <!-- <a href="#" class="theme-btn-s2">Learn more</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about-section -->
<!--service area start -->
<div class="service-style-1 section-padding">
    <div class="container">
        <div class="col-12">
            <div class="section-title-s2 text-center">
                <span>What type of Vehicles we can provide you</span>
                <h2>Our Vehicles</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrap">
                   
                        <img src="~/images/vehicle/auto-modified.png" alt="Auto">
                   
                    <div class="service-text">
                        <h2>Auto Rickshaw</h2>
                        <!-- <p>You can book Auto Rickshaw for long or short distance</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                   
                        <img src="~/images/vehicle/bolo-modified.png" alt="Bolero">
                   
                    <div class="service-text">
                        <h2>Bolero</h2>
                        <!-- <p>You can book Bolero for long or short distance</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                   
                        <img src="~/images/vehicle/bus-modified.png" alt="Bus">
                   
                    <div class="service-text">
                        <h2>Bus</h2>
                        <!-- <p>You can book Bus for inter state</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                   
                        <img src="~/images/vehicle/car-modified.png" alt="Car">
                   
                    <div class="service-text">
                        <h2>Car</h2>
                        <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                   
                        <img src="~/images/vehicle/scorpio-modified.png" alt="scorpio">
                   
                    <div class="service-text">
                        <h2>Scorpio</h2>
                        <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4  col-sm-6">
                <div class="service-wrap">
                    
                        <img src="~/images/vehicle/tracktor-modified.png" alt="Tracktor">
                   
                    <div class="service-text">
                        <h2>Tractor</h2>
                        <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service area end -->
<!-- start fun-fact-section -->
<section class="fun-fact-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-sm-12">
                <div class="fun-fact-content">
                    <h2>Here’s Our Achivement. Lets Check it Out</h2>
                    <p>We are very new established vehicle service provider company in Bihar. Our main goal to provide the best service to end user. So far many vehicles owners became member of our service. Now we are rapidly increasing the areas. We have covered most of the city of Bihar.</p>
                </div>
            </div>
            <div class="col col-md-6 col-sm-12">
                <div class="fun-fact-grids clearfix">
                    <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="100+">00</span>+</h3>
                        </div>
                        <p>Total Vehicles</p>
                    </div>
                    <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="50+">00</span></h3>
                        </div>
                        <p>Satisfied Client</p>
                    </div>
                    <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="1+">00</span>+</h3>
                        </div>
                        <p>Years Experience</p>
                    </div>
                    <!-- <div class="grid">
                        <div>
                            <h3><span class="odometer" data-count="3215">00</span></h3>
                        </div>
                        <p>Compleate Project</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end fun-fact-section -->
<!-- pricing-area -->
<div class="pricing-section">
    <div class="container">
        <div class="col-12">
            <div class="section-title-s2 text-center">
                <span>Our fare Plan</span>
                <h2>Check out our fare plan according to Vehicle </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tabs-site-button">
                    <div class="row pricing-tabs">
                        <div class="col-md-12 col-12">
                            <ul class="nav nav-tabs">
                                <li class="pricing-content-1"><a data-toggle="tab" href="#turbo">  <img src="~/images/vehicle/auto-modified.png" alt=""></a></li>
                                <li class="pricing-content-2"><a data-toggle="tab" href="#tyre"><img src="~/images/vehicle/bolo-modified.png" alt=""></a></li>
                                <li class="pricing-content-3"><a data-toggle="tab" href="#car-1"><img src="~/images/vehicle/tracktor-modified.png" alt=""></a></li>
                                <li class="pricing-content-4"><a data-toggle="tab" href="#repair"><img src="~/images/vehicle/scorpio-modified.png" alt=""></a></li>
                                <li class="pricing-content-5"><a data-toggle="tab" href="#battery"><img src="~/images/vehicle/car-modified.png" alt=""></a></li>
                                <li class="pricing-content-6"><a data-toggle="tab" href="#electricity"><img src="~/images/vehicle/bus-modified.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="tab-content">
                                <div id="turbo" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img">
                                                        <div class="pricing-text">
                                                            <span><small>₹</small>10-20</span>
                                                            <h4><a href="#">Minimum booking amount</a></h4>
                                                            <p>You can book your auto by paying minimum amount</p>
                                                        </div>
                                                        <img src="~/images/main/auto.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tyre" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-2">
                                                        <div class="pricing-text-1">
                                                           <span><small>₹</small>500-700</span>
                                                            <h4><a href="#">Minimum booking amount</a></h4>
                                                            <p>You can book your vehicle by paying minimum amount</p>
                                                        </div>
                                                        <img src="~/images/main/bolero.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="car-1" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-3">
                                                        <div class="pricing-text-2">
                                                          <span><small>₹</small>300-500</span>
                                                            <h4><a href="#">Minimum booking amount</a></h4>
                                                            <p>You can book vehicle  by paying minimum amount</p>
                                                        </div>
                                                        <img src="~/images/main/tractor.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="repair" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-4">
                                                        <div class="pricing-text-3">
                                                            <span><small>₹</small>600-800</span>
                                                            <h4><a href="#">Minimum booking amount</a></h4>
                                                            <p>You can book your vehicle by paying minimum amount</p>
                                                        </div>
                                                        <img src="~/images/main/scorpio.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="battery" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-5">
                                                        <div class="pricing-text-4">
                                                           <span><small>₹</small>700-900</span>
                                                            <h4><a href="#">Minimum booking amount</a></h4>
                                                            <p>You can book your vehicle by paying minimum amount</p>
                                                        </div>
                                                        <img src="~/images/main/car.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="electricity" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="pricing-wrap">
                                                <div class="pricing-single">
                                                    <div class="pricing-img-6">
                                                        <div class="pricing-text-5">
                                                            <span><small>₹</small>1000-1500</span>
                                                            <h4><a href="#">Minimum booking amount</a></h4>
                                                            <p>You can book your bus by paying minimum amount</p>
                                                        </div>
                                                        <img src="~/images/main/bus.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing-area end -->
<!-- .hx-team-area start -->
<!-- <div class="hx-team-area section-padding">
    <div class="container">
        <div class="col-12">
            <div class="section-title-s2 text-center">
                <span>Meet Our Expertise</span>
                <h2>Our Awesome Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-1.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>Riccardo Cavallo</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-2.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>Calvy Jenefar</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-3.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>Alexsandar Nick</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 col-g">
                <div class="hx-team-single">
                    <div class="hx-team-img">
                        <img src="~/images/team/img-4.jpg" alt="">
                        <div class="SocialIcons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="profileInfo">
                            <h3>David Simon</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- .hx-team-area end -->
<!-- start blog-section -->
<!-- <section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="section-title-s2 text-center">
                    <span>Our blog</span>
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-grids clearfix">
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/images/blog/img-1.jpg" alt>
                        </div>
                        <div class="details">
                            <h3><a href="#">Importent tips for your faviorate car.</a></h3>
                            <ul class="entry-meta">
                                <li>
                                    <img src="~/images/blog/author.jpg" alt>
                                    By <a href="#">Lily Anne</a>
                                </li>
                                <li>Octobor 12,2018</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/images/blog/img-2.jpg" alt>
                        </div>
                        <div class="details">
                            <h3><a href="#">Importent tips for your faviorate car.</a></h3>
                            <ul class="entry-meta">
                                <li>
                                    <img src="~/images/blog/author.jpg" alt>
                                    By <a href="#">Lily Anne</a>
                                </li>
                                <li>Octobor 12,2018</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="entry-media">
                            <img src="~/images/blog/img-3.jpg" alt>
                        </div>
                        <div class="details">
                            <h3><a href="#">Importent tips for your faviorate car.</a></h3>
                            <ul class="entry-meta">
                                <li>
                                    <img src="~/images/blog/author.jpg" alt>
                                    By <a href="#">Lily Anne</a>
                                </li>
                                <li>Octobor 12,2018</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section> -->
<!-- end blog-section -->
<!-- hx-client-area start -->
<!-- <div class="hx-client-area">
    <div class="container">
        <div class="hx-client-item">
            <div class="Gift-carousel owl-carousel">
                <img src="~/images/gift/3.png" alt="clinet">
                <img src="~/images/gift/2.png" alt="clinet">
                <img src="~/images/gift/3.png" alt="clinet">
                <img src="~/images/gift/4.png" alt="clinet">
                <img src="~/images/gift/5.png" alt="clinet">
            </div>
        </div>
    </div>
</div> -->
<!-- hx-client-area end -->
