<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To GoGadi Go</title>
    <!--External css -->
    <link href="~/css/themify-icons.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/flaticon.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <link href="~/css/owl.transitions.css" rel="stylesheet">
    <link href="~/css/jquery.fancybox.css" rel="stylesheet">
    <link href="~/css/odometer-theme-default.css" rel="stylesheet">
    <link href="~/css/jquery.bxslider.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <script src="~/js/jquery.min.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- end preloader -->

        <!-- Start header -->
        <header id="header" class="site-header header-style-2">
            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                       
                        <a class="navbar-brand" href="#"><img src="~/images/ggglogo.png" style="height: 80px;width: 80px;margin-top: -25px;
"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navigation-holder navbar-right">
                        <button class="close-navbar"><i class="ti-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="VehicleList" asp-controller="Vehicle">Vehicles List</a></li>
                            <li id="post"><a asp-action="Registration" asp-controller="Vehicle"> Create Post</a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                      
                                <li class="nav-item dropdown nav-user">
                                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="https://img.icons8.com/dusk/100/000000/user-female-circle.png" alt="" class="user-avatar-md rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                        <div class="nav-user-info">
                                            <h5 class="mb-0 text-white nav-user-name">Hi-<b>@User.Identity.Name</b></h5> <span class="status"></span><span class="ml-2"></span>
                                        </div> <a class="dropdown-item" asp-action="Profile" asp-controller="Account"><i class="fas fa-user mr-2"></i> Profile</a>
                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account"><i class="fas fa-power-off mr-2"></i> Logout</a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li id="login"><a asp-action="Login" asp-controller="Account">Log In/Sign Up</a></li>
                            }
                        </ul>
                    </div><!-- end of nav-collapse -->

                </div><!-- end of container -->

            </nav>
        </header>
        <!-- end of header -->
        <!--Body Render starts -->
        @RenderBody()
        <!--Body render ends -->
        <!-- .hx-site-footer-area start -->
        
    </div>
                
            <div class="hx-site-footer-bottom">
                <div class="container">
                    <div class="hx-site-footer-bottom-content">
                        <div class="row">
                            <div class="col-12">
                                <span>Privacy Policy | © 2021 <a href="#">GoGadiGo</a> All rights reserved/सर्वाधिकार सुरक्षित</span><br/>
                                <span><a asp-action="Contact" asp-controller="Customer">Contact Us </a> </span> | 
                                <span><a asp-action="Policy" asp-controller="Customer">Privacy Policy </a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        <!-- .hx-site-footer-area end -->

    <!-- All JavaScript files
    ================================================== -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugins for this template -->
    <script src="~/js/jquery-plugin-collection.js"></script>
    <!-- Custom script for this template -->
    <script src="~/js/script.js"></script>
    <script src="~/js/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)
 
</body>
</html>
