<section class="hero hero-static-image">
    <div class="container">
<div class="row">
            <div class="card text-center">
                
                <div class="card-body">
                    <h5 class="card-title">Contact Details</h5>
                    <p class="card-text">Feel free to reach out to us in case of any queries, Please find the email id below</p>
                    <a href="#" class="btn btn-primary">infogogadigo@gmail.com</a>
                </div>
               
            </div>
</div>
</div>
</div>